nav {
    
    .nav-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        .links-container {
            width: 300px;
            display: flex;
            justify-content: space-evenly;
        }
    }
}

